Module <%= name %>.
  Module Helpers.
<%= n_indent(2, get_definition) %>
    
<%= n_indent(2, set_definition) %>

    Definition Map :=
      Storage_sigs.Indexed_map.Map
        <%= index %>.
    Arguments Map /.

    Definition Subset :=
      Storage_sigs.Indexed_set._Set
        <%= subindex %>.
    Arguments Subset /.

    Definition name := [<%= path %>].
  End Helpers.

  Axiom mem : forall ctxt key subkey,
    <%= storage_path %>
      .(Storage_sigs.Data_set_storage.mem) 
      (Raw_context.to_t ctxt, key) subkey = 
    let map := (Helpers.Map).(Map.S.find)
      key (Helpers.get ctxt) in
    match map with 
    | Some map => 
      (Helpers.Subset).(_Set.S.mem) subkey map
    | None => false
    end.

  Axiom add : forall ctxt key subkey,
    <%= storage_path %>
      .(Storage_sigs.Data_set_storage.add)
    (Raw_context.to_t ctxt, key) subkey =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' =>
      let submap'' :=
        (Helpers.Subset).(_Set.S.add) subkey submap' in
      let map' := (Helpers.Map).(Map.S.add) key submap'' map in
      Helpers.set ctxt map'
    | None => 
      let submap'' :=
        (Helpers.Subset).(_Set.S.singleton) subkey in
      let map' := (Helpers.Map).(Map.S.add) key submap'' map in
      Helpers.set ctxt map'
    end.

  Axiom remove : forall ctxt key subkey,
    <%= storage_path %>
      .(Storage_sigs.Data_set_storage.remove)
    (Raw_context.to_t ctxt, key) subkey =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with 
    | Some submap' => 
        let submap'' :=
          (Helpers.Subset).(_Set.S.remove) subkey submap' in
        let map' := (Helpers.Map).(Map.S.add) key submap'' map in
        Helpers.set ctxt map'
    | None => Raw_context.to_t ctxt
    end.

  Axiom elements : forall ctxt key,
    <%= storage_path %>
      .(Storage_sigs.Data_set_storage.elements)
         (Raw_context.to_t ctxt, key) =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' => return? (Helpers.Subset).(_Set.S.elements) submap'
    | None => return? []
    end.

  Axiom fold : forall {a : Set} ctxt key variant init f,
    <%= storage_path %>
      .(Storage_sigs.Data_set_storage.fold)
         (Raw_context.to_t ctxt, key)
         variant
         init
         f =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' =>
        let f' elm acc :=
          let? acc := acc in
          f elm acc in
        (Helpers.Subset).(_Set.S.fold) f' init
          (Pervasives.Ok submap')
    | None => return? init
    end.

  Axiom clear : forall (ctxt : Raw_context.t) key,
    <%= storage_path %>
      .(Storage_sigs.Data_set_storage.clear)
      (Raw_context.to_t ctxt, key) =
    let map := (Helpers.get ctxt) in
    let empty := (Helpers.Subset).(_Set.S.empty) in
    let map' := (Helpers.Map).(Map.S.add) key empty map in
    return? Helpers.set ctxt map'.

  #[global] Hint Rewrite mem add remove elements @fold clear
    : storage_db.
  #[global] Opaque <%= storage_path %>.
End <%= name %>.
