Module <%= name %>.
  Module Helpers.
<%= n_indent(2, get_definition) %>
    
<%= n_indent(2, set_definition) %>

    Definition Map :=
      Storage_sigs.Indexed_map.Map
        <%= index %>.
    Arguments Map /.

    Definition Submap :=
      Storage_sigs.Indexed_map.Map
        <%= subindex %>.
    Arguments Submap /.

    Definition name := [<%= path %>].
  End Helpers.

  Axiom mem : forall ctxt key subkey,
    <%= storage_path %>
        .(Storage_sigs.Indexed_data_storage.mem) 
        (Raw_context.to_t ctxt, key) subkey = 
    let map := (Helpers.Map).(Map.S.find)
      key (Helpers.get ctxt) in
    match map with 
    | Some map => 
      (Helpers.Submap).(Map.S.mem) subkey map
    | None => false
    end.

  Axiom get : forall ctxt subkey key,
    <%= storage_path %>
      .(Storage_sigs.Indexed_data_storage.get)
     (Raw_context.to_t ctxt, key)
     subkey =
    let error := Raw_context.storage_error_value
      (Raw_context.Missing_key Helpers.name Raw_context.Get) in
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' =>
        let value := (Helpers.Submap).(Map.S.find) subkey submap' in
        match value with
        | Some value' => return? value'
        | None => error
        end
    | None => error
    end.

  Axiom find : forall ctxt subkey key,
    <%= storage_path %>
      .(Storage_sigs.Indexed_data_storage.find)
     (Raw_context.to_t ctxt, key)
     subkey =
   return? (
   let* map := (Helpers.Map).(Map.S.find)
     key
    (Helpers.get ctxt) in
   let* value := (Helpers.Submap).(Map.S.find) subkey map in
   return* value).

  Axiom update :  forall ctxt subkey key value,
    <%= storage_path %>
      .(Storage_sigs.Indexed_data_storage.update)
     (Raw_context.to_t ctxt, key) subkey value =
    let error := Raw_context.storage_error_value
      (Raw_context.Missing_key Helpers.name Raw_context._Set) in
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' =>
      if (Helpers.Submap).(Map.S.mem) subkey submap'
      then 
        let submap'' :=
          (Helpers.Submap).(Map.S.add) subkey value submap' in
        let map' := (Helpers.Map).(Map.S.add) key submap'' map in
        return? Helpers.set ctxt map'
      else error
    | None => error
    end.

  Axiom init_value :  forall ctxt subkey key value,
    <%= storage_path %>
      .(Storage_sigs.Indexed_data_storage.update)
     (Raw_context.to_t ctxt, key) subkey value =
    let error := Raw_context.storage_error_value
      (Raw_context.Missing_key Helpers.name Raw_context._Set) in
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' =>
      if (Helpers.Submap).(Map.S.mem) subkey submap'
      then error
      else
        let submap'' :=
          (Helpers.Submap).(Map.S.add) subkey value submap' in
        let map' := (Helpers.Map).(Map.S.add) key submap'' map in
        return? Helpers.set ctxt map'
    | None =>
      let submap'' :=
        (Helpers.Submap).(Map.S.singleton) subkey value in
      let map' := (Helpers.Map).(Map.S.add) key submap'' map in
      return? Helpers.set ctxt map'          
    end.

  Axiom add : forall ctxt key subkey value,
    <%= storage_path %>
      .(Storage_sigs.Indexed_data_storage.add)
    (Raw_context.to_t ctxt, key) subkey value =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' =>
      let submap'' :=
        (Helpers.Submap).(Map.S.add) subkey value submap' in
      let map' := (Helpers.Map).(Map.S.add) key submap'' map in
      Helpers.set ctxt map'
    | None => 
      let submap'' :=
        (Helpers.Submap).(Map.S.singleton) subkey value in
      let map' := (Helpers.Map).(Map.S.add) key submap'' map in
      Helpers.set ctxt map'
    end.

  Axiom add_or_remove : forall ctxt key subkey value_opt,
    <%= storage_path %>
      .(Storage_sigs.Indexed_data_storage.add_or_remove)
    (Raw_context.to_t ctxt, key) subkey value_opt =
    match value_opt with
    | Some value =>
      (* add the value *)
      let map := (Helpers.get ctxt) in
      let submap := (Helpers.Map).(Map.S.find) key map in
      match submap with
      | Some submap' =>
        let submap'' :=
          (Helpers.Submap).(Map.S.add) subkey value submap' in
        let map' := (Helpers.Map).(Map.S.add) key submap'' map in
        Helpers.set ctxt map'
      | None => 
        let submap'' :=
          (Helpers.Submap).(Map.S.singleton) subkey value in
        let map' := (Helpers.Map).(Map.S.add) key submap'' map in
        Helpers.set ctxt map'
      end
    | None =>
      (* remove the value *)
      let map := (Helpers.get ctxt) in
      let submap := (Helpers.Map).(Map.S.find) key map in
      match submap with
      | Some submap' =>
        let submap'' :=
          (Helpers.Submap).(Map.S.remove) subkey submap' in
        let map' := (Helpers.Map).(Map.S.add) key submap'' map in
        Helpers.set ctxt map'            
      | None => Raw_context.to_t ctxt
      end
    end.

  Axiom remove_existing : forall ctxt key subkey,
    <%= storage_path %>
      .(Storage_sigs.Indexed_data_storage.remove_existing)
    (Raw_context.to_t ctxt, key) subkey =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with 
    | Some submap' => 
        if (Helpers.Submap).(Map.S.mem) subkey submap'
        then
          let submap'' :=
            (Helpers.Submap).(Map.S.remove) subkey submap' in
          let map' := (Helpers.Map).(Map.S.add) key submap'' map in
          return? Helpers.set ctxt map'
        else
          Raw_context.storage_error_value
            (Raw_context.Missing_key Helpers.name Raw_context.Del)
    | None =>
        Raw_context.storage_error_value
          (Raw_context.Missing_key Helpers.name Raw_context.Del)
    end.

  Axiom remove : forall ctxt key subkey,
    <%= storage_path %>
      .(Storage_sigs.Indexed_data_storage.remove)
    (Raw_context.to_t ctxt, key) subkey =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with 
    | Some submap' => 
        let submap'' :=
          (Helpers.Submap).(Map.S.remove) subkey submap' in
        let map' := (Helpers.Map).(Map.S.add) key submap'' map in
        Helpers.set ctxt map'
    | None => Raw_context.to_t ctxt
    end.

  Axiom clear : forall (ctxt : Raw_context.t) key,
    <%= storage_path %>
      .(Storage_sigs.Indexed_data_storage.clear)
      (Raw_context.to_t ctxt, key) =
    let map := (Helpers.get ctxt) in
    let empty := (Helpers.Submap).(Map.S.empty) in
    let map' := (Helpers.Map).(Map.S.add) key empty map in
    return? Helpers.set ctxt map'.

  Axiom keys : forall ctxt key,
    <%= storage_path %>
      .(Storage_sigs.Indexed_data_storage.keys)
         (Raw_context.to_t ctxt, key) =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' => return? List.map fst ((Helpers.Submap).(Map.S.bindings)
        submap')
    | None => return? []
    end.

  Axiom bindings : forall ctxt key,
    <%= storage_path %>
      .(Storage_sigs.Indexed_data_storage.bindings)
         (Raw_context.to_t ctxt, key) =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' => return? (Helpers.Submap).(Map.S.bindings) submap'
    | None => return? []
    end.

  Axiom fold : forall {a : Set} ctxt key variant init f,
    <%= storage_path %>
      .(Storage_sigs.Indexed_data_storage.fold)
         (Raw_context.to_t ctxt, key)
         variant
         init
         f =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' =>
        let f' k v acc :=
          let? acc := acc in
          f k v acc in
        (Helpers.Submap).(Map.S.fold) f' init (Pervasives.Ok submap')
    | None => return? init
    end.

  Axiom fold_keys : forall {a : Set} ctxt key variant init f,
    <%= storage_path %>
      .(Storage_sigs.Indexed_data_storage.fold_keys)
         (Raw_context.to_t ctxt, key)
         variant
         init
         f =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' =>
        let f' k acc :=
          let? acc := acc in
          f k acc in
        (Helpers.Submap).(Map.S.fold) 
          (fun k _ acc => f' k acc) init (Pervasives.Ok submap')
    | None => return? init
    end.

  #[global] Hint Rewrite mem get find init_value update add
    add_or_remove remove_existing remove @fold @fold_keys keys
    bindings clear : storage_db.
  #[global] Opaque <%= storage_path %>.
End <%= name %>.
