Module <%= name %>.
  Module Helpers.
<%= n_indent(2, get_definition) %>
    
<%= n_indent(2, set_definition) %>

    Definition Map :=
      Storage_sigs.Indexed_map.Map
        <%= index %>.
    Arguments Map /.

    Definition Submap :=
      Storage_sigs.Indexed_map.Map
        <%= subindex %>.
    Arguments Submap /.

    Definition name := [<%= path %>].
  End Helpers.

  Axiom mem : forall ctxt key subkey,
    <%= storage_path %>
        .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage
           .mem) 
        (Raw_context.to_t ctxt, key) subkey = 
    let map := (Helpers.Map).(Map.S.find)
      key (Helpers.get ctxt) in
    match map with 
    | Some map => 
      return? (Raw_context.to_t ctxt, 
        (Helpers.Submap).(Map.S.mem) subkey map)
    | None => return? (Raw_context.to_t ctxt, false)
    end.

  Axiom get : forall ctxt subkey key,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage.get)
     (Raw_context.to_t ctxt, key)
     subkey =
    let error := Raw_context.storage_error_value
      (Raw_context.Missing_key Helpers.name Raw_context.Get) in
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' =>
        let value := (Helpers.Submap).(Map.S.find) subkey submap' in
        match value with
        | Some value' => return? (Raw_context.to_t ctxt, value')
        | None => error
        end
    | None => error
    end.

  Axiom find : forall ctxt subkey key,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage.find)
     (Raw_context.to_t ctxt, key)
     subkey =
   return? (Raw_context.to_t ctxt,
   let* map := (Helpers.Map).(Map.S.find)
     key
    (Helpers.get ctxt) in
   let* value := (Helpers.Submap).(Map.S.find) subkey map in
   return* value).

  Axiom update :  forall ctxt subkey key value size,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage.update)
     (Raw_context.to_t ctxt, key) subkey value =
    let error := Raw_context.storage_error_value
      (Raw_context.Missing_key Helpers.name Raw_context._Set) in
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' =>
      if (Helpers.Submap).(Map.S.mem) subkey submap'
      then 
        let submap'' :=
          (Helpers.Submap).(Map.S.add) subkey value submap' in
        let map' := (Helpers.Map).(Map.S.add) key submap'' map in
        return? (Helpers.set ctxt map', size)
      else error
    | None => error
    end.

  Axiom init_value :  forall ctxt subkey key value size,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage.update)
     (Raw_context.to_t ctxt, key) subkey value =
    let error := Raw_context.storage_error_value
      (Raw_context.Missing_key Helpers.name Raw_context._Set) in
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' =>
      if (Helpers.Submap).(Map.S.mem) subkey submap'
      then error
      else
        let submap'' :=
          (Helpers.Submap).(Map.S.add) subkey value submap' in
        let map' := (Helpers.Map).(Map.S.add) key submap'' map in
        return? (Helpers.set ctxt map', size)
    | None =>
      let submap'' :=
        (Helpers.Submap).(Map.S.singleton) subkey value in
      let map' := (Helpers.Map).(Map.S.add) key submap'' map in
      return? (Helpers.set ctxt map', size)
    end.

  Axiom add : forall ctxt key subkey value size,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage.add)
    (Raw_context.to_t ctxt, key) subkey value =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' =>
      let mem := (Helpers.Submap).(Map.S.mem) subkey submap' in
      let submap'' :=
        (Helpers.Submap).(Map.S.add) subkey value submap' in
      let map' := (Helpers.Map).(Map.S.add) key submap'' map in
      return? (Helpers.set ctxt map', size, mem)
    | None => 
      let submap'' :=
        (Helpers.Submap).(Map.S.singleton) subkey value in
      let map' := (Helpers.Map).(Map.S.add) key submap'' map in
      return? (Helpers.set ctxt map', size, false)
    end.

  Axiom add_or_remove : forall ctxt key subkey value_opt size,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage.add_or_remove)
    (Raw_context.to_t ctxt, key) subkey value_opt =
    match value_opt with
    | Some value =>
      (* add the value *)
      let map := (Helpers.get ctxt) in
      let submap := (Helpers.Map).(Map.S.find) key map in
      match submap with
      | Some submap' =>
        let mem := (Helpers.Submap).(Map.S.mem) subkey submap' in
        let submap'' :=
          (Helpers.Submap).(Map.S.add) subkey value submap' in
        let map' := (Helpers.Map).(Map.S.add) key submap'' map in
        return? (Helpers.set ctxt map', size, mem)
      | None => 
        let submap'' :=
          (Helpers.Submap).(Map.S.singleton) subkey value in
        let map' := (Helpers.Map).(Map.S.add) key submap'' map in
        return? (Helpers.set ctxt map', size, false)
      end
    | None =>
      (* remove the value *)
      let map := (Helpers.get ctxt) in
      let submap := (Helpers.Map).(Map.S.find) key map in
      match submap with
      | Some submap' =>
        let mem := (Helpers.Submap).(Map.S.mem) subkey submap' in
        let submap'' :=
          (Helpers.Submap).(Map.S.remove) subkey submap' in
        let map' := (Helpers.Map).(Map.S.add) key submap'' map in
        return? (Helpers.set ctxt map', size, mem)
      | None => 
          return? (Raw_context.to_t ctxt, size, false)
      end
    end.

  Axiom remove_existing : forall ctxt key subkey size,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage.remove_existing)
    (Raw_context.to_t ctxt, key) subkey =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with 
    | Some submap' => 
        if (Helpers.Submap).(Map.S.mem) subkey submap'
        then
          let submap'' :=
            (Helpers.Submap).(Map.S.remove) subkey submap' in
          let map' := (Helpers.Map).(Map.S.add) key submap'' map in
          return? (Helpers.set ctxt map', size)
        else
          Raw_context.storage_error_value
            (Raw_context.Missing_key Helpers.name Raw_context.Del)
    | None =>
        Raw_context.storage_error_value
          (Raw_context.Missing_key Helpers.name Raw_context.Del)
    end.

  Axiom remove : forall ctxt key subkey size,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage.remove)
    (Raw_context.to_t ctxt, key) subkey =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with 
    | Some submap' => 
        let mem := (Helpers.Submap).(Map.S.mem) subkey submap' in
        let submap'' :=
          (Helpers.Submap).(Map.S.remove) subkey submap' in
        let map' := (Helpers.Map).(Map.S.add) key submap'' map in
        return? (Helpers.set ctxt map', size, mem)
    | None => return? (Raw_context.to_t ctxt, size, false)
    end.

  Axiom keys_unaccounted : forall ctxt key,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage.keys_unaccounted)
         (Raw_context.to_t ctxt, key) =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' => return? List.map fst ((Helpers.Submap).(Map.S.bindings)
        submap')
    | None => return? []
    end.


  #[global] Hint Rewrite mem get find update init_value add
     add_or_remove remove_existing remove keys_unaccounted 
     : storage_db.
  #[global] Opaque <%= storage_path %>.
End <%= name %>.
