Module <%= name %>.
  Module Helpers.
<%= n_indent(2, get_definition) %>
    
<%= n_indent(2, set_definition) %>

    Definition S :=
      Storage_sigs.Indexed_map.Map
        <%= index %>.
    Arguments S /.

    Definition name := [<%= path %>].
  End Helpers.

  Axiom mem : forall (ctxt : Raw_context.t) k,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage.mem)
      (Raw_context.to_t ctxt) k =
    return? (Raw_context.to_t ctxt, (Helpers.S).(Map.S.mem) k
       (Helpers.get ctxt)).

  Axiom get : forall (ctxt : Raw_context.t) k,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage.get)
      (Raw_context.to_t ctxt) k =
    let x := (Helpers.S).(Map.S.find) k (Helpers.get ctxt) in
    match x with
    | Some v => Pervasives.Ok (Raw_context.to_t ctxt, v)
    | None =>  
        Raw_context.storage_error_value
          (Raw_context.Missing_key Helpers.name Raw_context.Get)
    end.

  Axiom find : forall(ctxt : Raw_context.t) k,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage.find)
      (Raw_context.to_t ctxt) k =
    let x := (Helpers.S).(Map.S.find) k (Helpers.get ctxt) in
    match x with
    | Some v => return? (Raw_context.to_t ctxt, (Some v))
    | None => return? (Raw_context.to_t ctxt, None)
    end.

  Axiom update : forall (ctxt : Raw_context.t) k v size,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage.update)
      (Raw_context.to_t ctxt) k v =
    if (Helpers.S).(Map.S.mem) k (Helpers.get ctxt)
    then 
      let ctxt := Helpers.set ctxt ((Helpers.S).(Map.S.add) k v
        (Helpers.get ctxt)) in
      return? (ctxt, size)
    else Raw_context.storage_error_value
      (Raw_context.Missing_key Helpers.name Raw_context._Set).

  Axiom init_value : forall (ctxt : Raw_context.t) k v size,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage.init_value)
      (Raw_context.to_t ctxt) k v =
    if (Helpers.S).(Map.S.mem) k (Helpers.get ctxt)
    then Raw_context.storage_error_value
      (Raw_context.Missing_key Helpers.name Raw_context._Set)
    else return? (Helpers.set ctxt ((Helpers.S).(Map.S.add)
      k v (Helpers.get ctxt)), size).

  Axiom add : forall (ctxt : Raw_context.t) k v size,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage.add)
      (Raw_context.to_t ctxt) k v =
   let storage := (Helpers.get ctxt) in
   let bound :=  (Helpers.S).(Map.S.mem) k storage in
   let storage' := Helpers.set ctxt ((Helpers.S).(Map.S.add) k v storage) in
     return? (storage', size, bound).

  Axiom add_or_remove : forall (ctxt : Raw_context.t) k v size,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage.add_or_remove)
      (Raw_context.to_t ctxt) k v =
    let storage := Helpers.get ctxt in
    let mem := (Helpers.S).(Map.S.mem) k storage in
    match v with
    | Some v' =>
        let ctxt' := Helpers.set ctxt ((Helpers.S).(Map.S.add) k v'
          storage) in
        return? (ctxt', size, mem)
    | None => 
        let ctxt' := Helpers.set ctxt ((Helpers.S).(Map.S.remove) k
          storage) in
        return? (ctxt', size, mem)
    end.

  Axiom remove_existing : forall (ctxt : Raw_context.t) k size,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage
         .remove_existing)
      (Raw_context.to_t ctxt) k =
    if (Helpers.S).(Map.S.mem) k (Helpers.get ctxt)
    then return? (Helpers.set ctxt ((Helpers.S).(Map.S.remove) k
      (Helpers.get ctxt)), size)
    else Raw_context.storage_error_value
      (Raw_context.Missing_key Helpers.name Raw_context.Del).

  Axiom remove : forall (ctxt : Raw_context.t) k size,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage
         .remove)
      (Raw_context.to_t ctxt) k =
    let storage := Helpers.get ctxt in
    let mem := (Helpers.S).(Map.S.mem) k storage in
    return? (Helpers.set ctxt ((Helpers.S).(Map.S.remove) k
      storage), size, mem).

  Axiom keys_unaccounted : forall (ctxt : Raw_context.t),
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_carbonated_data_storage
         .keys_unaccounted)
      (Raw_context.to_t ctxt) =
    return? List.map fst ((Helpers.S).(Map.S.bindings) (Helpers.get ctxt)).

  #[global] Hint Rewrite mem get find update init_value add
     add_or_remove remove_existing remove keys_unaccounted 
     : storage_db.
  #[global] Opaque <%= storage_path %>.
End <%= name %>.
