Module <%= name %>.
  Module Helpers.
<%= n_indent(2, get_definition) %>
    
<%= n_indent(2, set_definition) %>

    Definition name := [<%= path %>].
  End Helpers.

  Axiom get : forall (ctxt : Raw_context.t),
    <%= storage_path %>
      .(Storage.Simple_single_data_storage.get)
      (Raw_context.to_t ctxt) =
    match Helpers.get ctxt with
    | Some x => Pervasives.Ok x
    | None => 
        Raw_context.storage_error_value
          (Raw_context.Missing_key Helpers.name Raw_context.Get)
    end.

  Axiom update : forall (ctxt : Raw_context.t) value,
   <%= storage_path %>
      .(Storage.Simple_single_data_storage.update)
      (Raw_context.to_t ctxt) value =
    match Helpers.get ctxt with
    | Some _ =>
        return? Helpers.set ctxt (Some value)
    | None => 
        Raw_context.storage_error_value
          (Raw_context.Existing_key Helpers.name)
    end.

  Axiom init_value : forall (ctxt : Raw_context.t) value,
   <%= storage_path %>
      .(Storage.Simple_single_data_storage.init_value)
      (Raw_context.to_t ctxt) value =
    match Helpers.get ctxt with
    | None =>
        return? Helpers.set ctxt (Some value)
    | Some _ => 
        Raw_context.storage_error_value
          (Raw_context.Existing_key Helpers.name)
    end.

  #[global] Hint Rewrite get update init_value : storage_db.
  #[global] Opaque <%= storage_path %>.
End <%= name %>.
