Module <%= name %>.
  Module Helpers.
<%= n_indent(2, get_definition) %>
    
<%= n_indent(2, set_definition) %>

    Definition name := [<%= path %>].
  End Helpers.

  Axiom mem : forall (ctxt : Raw_context.t),
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.mem)
      (Raw_context.to_t ctxt) =
     match Helpers.get ctxt with
      | Some _ => true
      | None => false 
      end.

  Axiom get : forall (ctxt : Raw_context.t),
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.get)
      (Raw_context.to_t ctxt) =
    match Helpers.get ctxt with
    | Some x => Pervasives.Ok x
    | None => 
        Raw_context.storage_error_value
          (Raw_context.Missing_key Helpers.name Raw_context.Get)
    end.

  Axiom find : forall (ctxt : Raw_context.t),
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.find)
      (Raw_context.to_t ctxt) =
    return? Helpers.get ctxt.

  Axiom init_value : forall (ctxt : Raw_context.t) value,
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.init_value)
      (Raw_context.to_t ctxt) value =
    match Helpers.get ctxt with
    | None =>
        return? Helpers.set ctxt (Some value)
    | Some _ => 
        Raw_context.storage_error_value
          (Raw_context.Existing_key Helpers.name)
    end.

  Axiom update : forall (ctxt : Raw_context.t) value,
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.update)
      (Raw_context.to_t ctxt) value =
    match Helpers.get ctxt with
    | Some _ => return? Helpers.set ctxt (Some value)
    | None => 
        Raw_context.storage_error_value
          (Raw_context.Missing_key Helpers.name Raw_context._Set)
    end.

  Axiom add : forall (ctxt : Raw_context.t) value,
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.add)
      (Raw_context.to_t ctxt) value =
    match Helpers.get ctxt with
    | Some _ => Helpers.set ctxt (Some value)
    | None => (Raw_context.to_t ctxt)
    end.

  Axiom add_or_remove : forall (ctxt : Raw_context.t) value,
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.add_or_remove)
      (Raw_context.to_t ctxt) value =
      Helpers.set ctxt value.

  Axiom remove_existing : forall (ctxt : Raw_context.t),
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.remove_existing)
      (Raw_context.to_t ctxt) =
    match Helpers.get ctxt with
    | Some _ => return? Helpers.set ctxt None
    | None =>
        Raw_context.storage_error_value
          (Raw_context.Missing_key Helpers.name Raw_context.Del)
    end.

  Axiom remove : forall (ctxt : Raw_context.t),
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.remove)
      (Raw_context.to_t ctxt) =
    match Helpers.get ctxt with
    | Some _ => Helpers.set ctxt None
    | None => Raw_context.to_t ctxt
    end.

  #[global] Hint Rewrite mem get find init_value update add
    add_or_remove remove_existing remove : storage_db.
  #[global] Opaque <%= storage_path %>.
End <%= name %>.
